.form-group
  = f.label :create_chat_team, class: 'control-label' do
    %span.mattermost-icon
      = custom_icon('icon_mattermost')
    Mattermost
  .col-sm-10
    .checkbox.js-toggle-container
      = f.label :create_chat_team do
        .js-toggle-button= f.check_box(:create_chat_team, { checked: true }, true, false)
        为此群组创建 Mattermost 聊天团队
      %br
      %small.light.js-toggle-content
        Mattermost URL:
        = Settings.mattermost.host
        %span> /
        %span{ "data-bind-out" => "create_chat_team" }
